# Configuration file for MM-PIHM-EnKF system

# File paths
#
# PARAM_TBL: list of all parameters
# VAR_TBL:   list of variables to be estimated by EnKF
# OBS_TBL:   list of assimilated observations
PARAM_TBL=./param.tbl
VAR_TBL=./var.tbl
OBS_TBL=./obs.tbl

# EnKF configuration
#
# NUM_MEMBER:   number of ensemble members
# ASSIM_INTVL:  assimilation interval (hours)
# PERTURB_MODE: initial parameter perturbation mode. When PERTURB_MODE is 3,
#   existing .calib files will be used. Otherwise, perturbed mean will be equal
#   to (center of parameter range + PERTURB_MODE * SIGMA)
# INFL_WEIGHT:  inflation weight
# CYCLE_START_TIME: EnKF cycle start time in "yyyy-mm-dd HH:MM"
# CYCLE_END_TIME:   EnKF cycle end time in "yyyy-mm-dd HH:MM"
# ASSIM_START_TIME: time of first assimilation in "yyyy-mm-dd HH:MM"
NUM_MEMBER=5
ASSIM_INTVL=72
PERTURB_MODE=0
INFLT_WEIGHT=0.5
CYCLE_START_TIME="2009-01-01 00:00"
CYCLE_END_TIME="2009-01-07 00:00"
ASSIM_START_TIME="2009-01-04 00:00"

# MM-PIHM configuration
#
# PIHM_DIR:   path of MM-PIHM directory
# PROJECT:    name of MM-PIHM project
# OUTPUT_DIR: name of MM-PIHM output directory. Can be left blank, in which case
#   PROJECT.(simulation start time) will be used
# RUN_MODE:   0: ensemble simulations will be performed on current node
#   sequentially without submitting jobs. This is good for a small number of
#   ensemble members. 1: ensemble simulations will be submitted as jobs
PIHM_DIR=~/work/MM-PIHM
PROJECT=sh
OUTPUT_DIR=test
RUN_MODE=0
