# Configuration file for MM-PIHM-EnKF system

# File paths
PARAM_TBL=./param.tbl
OBS_TBL=./obs.tbl

# EnKF configuration
PARAM_TBL=param.tbl
NUM_MEMBER=30
ASSIM_INTVL=72      # hours
PERTURB_MODE=1      # [-1 -- 1] perturbing around mean, 3: Using existing .calib files
INFL_WEIGHT=0.5
CYCLE_START_TIME="2009-01-01 00:00"
ASSIM_START_TIME="2009-04-01 00:00"
ASSIM_END_TIME="2009-06-01 00:00"

# MM-PIHM configuration
PIHM_DIR=~/work/MM-PIHM
PROJECT=sh
OUTPUT_DIR=         # project + start time will be used if kept empty
